---
title: Home
layout: base
---

%div.banner <a href="/technically/"><img alt="Me technically" src="/images/technically.jpg" /></a>
/ Source: http://www.flickr.com/photos/eurleif/255241547/in/photostream/
%div.banner <a href="/musically/"><img alt="Me musically" src="/images/musically.jpg" /></a>
/ Source: http://www.flickr.com/photos/rustysheriff/4948496685/in/photostream/
%div.banner <a href="/socially/"><img alt="Me socially" src="/images/socially.jpg" /></a>
/ Source: http://www.flickr.com/photos/smemon/5547535499/in/photostream/
%div.banner <a href="/blog/"><img alt="Me blogging" src="/images/blog.jpg" /></a>
/ Source: http://www.flickr.com/photos/churl/250235218/in/photostream/
