---
layout: base
---

%h2 Musically

%p I always like to listen to music. It's hard to describe what type of music is my favourite. Maybe something between electro-house, electro-pop, ambient, dub, minimal and microhouse.

%p My favorite artists are (in no particular order): Luomo, Feist, Sacha Funke, Ellen Allien, Lykke Li, Paul Kalkbrenner, Little Dragon, Radiohead, Smolik, Vladislav Delay, Daft Punk... and many others.

%p In my free (what?!) time I try to produce some music myself.

%h3 My songs

%p Below you can find my published tracks.

<object width="100%"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F2266426&amp;show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=false&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="225" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Fusers%2F2266426&amp;show_comments=true&amp;auto_play=false&amp;show_playcount=true&amp;show_artwork=false&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>

%p Everything is available on my <a href="http://soundcloud.com/marekgoldmann">SoundCloud profile</a> too.

%h3 Source code

%p All my music is <a href="http://en.wikipedia.org/wiki/Open_source">open source</a>. You are free to <a href="/files/music/">download the source code</a> and modify it as long as you agree to the license below. All files are in <a href="http://www.propellerheads.se/products/reason/">Reason</a> 5 format.

If you remixed my track, found it useful or you simply enjoy it &ndash; feel free to <a href="/socially/">let me know</a> about it!

%h3 License

%p <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" />

%p My music is licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.

