---
title: Presentations
layout: page
---

%h2 Presentations

%p From time to time I'm attending various conferences. Sometimes I'm even a speaker. Below you can find (very incomplete) list of presentations I gave so far.

%p If you're interested in a presentation I gave already and you would like to see the slides, please <a href="/socially/">contact me</a>. There is a chance I still have them.

%ul
  %li <strong>Messaging and scheduled jobs made simple</strong>, GeeCON, May 2013: <a href="/presentations/2013-geecon-messaging-and-scheduled-jobs-made-simple">slides</a>, <a href="https://github.com/goldmann/torquebox-messaging-demos">demos</a>


