---
title: Presentations
layout: page
---

%h2 Presentations

%p From time to time I'm attending various conferences. Sometimes I'm even a speaker. Below you can find list of presentations I gave so far.

%h4 License

:plain
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/pl/deed.en"><img alt="Creative Commons License" style="border-width:0" src="/images/cc.png" /></a>

%h3{:style=>"margin-top:30px"} 2014

%ul
  %li <strong>Docker and JBoss &ndash; the perfect combination</strong>, Toruń JUG, Oct 2014: <a href="/presentations/2014-torun-jug-docker">slides</a>, <a href="https://github.com/goldmann/goldmann.pl/tree/master/.presentations/2014-torun-jug-docker/demos">demos</a>
  %li <strong>Docker and JBoss &ndash; the perfect combination</strong>, JUGtoberFest 2014, Poznań, Oct 2014: <a href="https://github.com/goldmann/goldmann.pl/tree/master/.presentations/2014-jugtoberfest-docker/">slides</a>, <a href="https://github.com/goldmann/goldmann.pl/tree/master/.presentations/2014-jugtoberfest-docker/demos">demos</a>
  %li <strong>Revolution in software distribution called Docker</strong>, Y Soft: Technology Hour, Sep 2014: <a href="/presentations/2014-ysoft-technology-hour-docker">slides</a>, <a href="https://github.com/goldmann/goldmann.pl/tree/master/.presentations/2014-ysoft-technology-hour-docker/demos">demos</a>
  %li <strong>Docker and JBoss &ndash; the perfect combination</strong>, Virtual JBoss User Group, Sep 2014: <a href="https://www.youtube.com/watch?v=4uQ6gR_xZhE">recording</a>, <a href="/presentations/2014-vjbug-docker">slides</a>, <a href="https://github.com/goldmann/goldmann.pl/tree/master/.presentations/2014-vjbug-docker/demos">demos</a>
  %li <strong>Docker and JBoss &ndash; the perfect combination</strong>, Wrocław JUG, Sep 2014: <a href="https://www.youtube.com/watch?v=uNYHcxUu6pQ">recording</a>, <a href="/presentations/2014-wroclaw-jug-docker">slides</a>, <a href="https://github.com/goldmann/goldmann.pl/tree/master/.presentations/2014-wroclaw-jug-docker/demos">demos</a>
  %li <strong>Docker</strong>, Poznań JUG, June 2014: <a href="/presentations/2014-poznan-jug-docker">slides</a>
  %li <strong>Docker</strong>, WJBUG, June 2014: <a href="/presentations/2014-wjbug-docker">slides</a>
  %li <strong>Docker &ndash; Intro to a revolution</strong>, GeeCON, May 2014: <a href="/presentations/2014-geecon-docker-intro-to-a-revolution">slides</a>

%h3{:style=>"margin-top:30px"} 2013

%ul
  %li <strong>Docker &ndash; Introduction</strong>, Red Hat, Dec 2013: <a href="/presentations/2013-red-hat-docker-introduction">slides</a>, <a href="/presentations/2013-red-hat-docker-introduction/index.fr.html">slides in french</a> (translated by <a href="https://twitter.com/olberger">@olberger</a>)
  %li <strong>TorqueBox &ndash; Messaging and scheduled jobs made simple</strong>, GeeCON, May 2013: <a href="/presentations/2013-geecon-messaging-and-scheduled-jobs-made-simple">slides</a>, <a href="https://github.com/goldmann/torquebox-messaging-demos">demos</a>

%h3 2012

%ul
  %li <strong>BoxGrinder</strong>, Red Hat, Mar 2012: <a href="/presentations/2012-red-hat-boxgrinder/2012-red-hat-boxgrinder.pdf">slides</a>
  %li <strong>BoxGrinder</strong>, FUDCon Blacksburg, Mar 2012: <a href="/presentations/2012-fudcon-blacksburg-boxgrinder/2012-fudcon-blacksburg-boxgrinder.pdf">slides</a>
  %li <strong>BoxGrinder</strong>, FOSDEM, Feb 2012: <a href="/presentations/2012-fosdem-boxgrinder/2012-fosdem-boxgrinder.pdf">slides</a>

%h3 2011

%ul
  %li <strong>BoxGrinder</strong>, FUDCon Milan, Oct 2011: <a href="/presentations/2011-fudcon-milan-boxgrinder/2011-fudcon-milan-boxgrinder.pdf">slides</a>
  %li <strong>TorqueBox &ndash; Ruby na sterydach</strong>, Silesia RUG, Nov 2011, polish: <a href="/presentations/2011-srug-torquebox-ruby-na-sterydach/2011-srug-torquebox-ruby-na-sterydach.pdf">slides</a>
  %li <strong>TorqueBox &ndash; Where Ruby meets CDI</strong>, JUDCon London, Oct 2011: <a href="/presentations/2011-judcon-london-torquebox-where-ruby-meets-cdi/2011-judcon-london-torquebox-where-ruby-meets-cdi.pdf">slides</a>
  %li <strong>TorqueBox &ndash; Gdzie Ruby spotyka CDI</strong>, Confitura, Jul 2011, polish: <a href="/presentations/2011-javacamp-torquebox-gdzie-ruby-spotyka-cdi/2011-javacamp-torquebox-gdzie-ruby-spotyka-cdi.pdf">slides</a>
  %li <strong>TorqueBox &ndash; Moc Javy Piękno Rubiego</strong>, Confitura, Jun 2011, polish: <a href="/presentations/2011-confitura-torquebox-moc-javy-piekno-rubiego/2011-confitura-torquebox-moc-javy-piekno-rubiego.pdf">slides</a>
  %li <strong>BoxGrinder</strong>, JUDCon Boston, Jun 2011: <a href="/presentations/2011-judcon-boston-boxgrinder/2011-judcon-boston-boxgrinder.pdf">slides</a>
  %li <strong>BoxGrinder</strong>, FUDCon Tempe, Jan 2011: <a href="/presentations/2011-fudcon-tempe-boxgrinder/2011-fudcon-tempe-boxgrinder.pdf">slides</a>

%h3 2010

%ul
  %li <strong>SteamCannon</strong>, JavaNight, Dec 2010: <a href="/presentations/2010-java-night-steamcannon/2010-java-night-steamcannon.pdf">slides</a>
  %li <strong>BoxGrinder</strong>, JUDCon Berlin, Oct 2010: <a href="/presentations/2010-judcon-berlin-boxgrinder/2010-judcon-berlin-boxgrinder.pdf">slides</a>
  %li <strong>CirrAS &ndash; JBoss w chmurkach</strong>, Javarsovia, Jul 2010, polish: <a href="/presentations/2010-javarsovia-cirras-jboss-w-chmurach/2010-javarsovia-cirras-jboss-w-chmurach.pdf">slides</a>
  %li <strong>StormGrind &ndash; Hackowanie w chmurkachh</strong>, Silesia JUG, Apr 2010, polish: <a href="/presentations/2010-silesia-jug-stormgrind-hackowanie-w-chmurkach/2010-silesia-jug-stormgrind-hackowanie-w-chmurkach.pdf">slides</a>


