---
title: Socially
layout: page
---

%h2 Socially

%p There are several ways of contacting me.

%h3 Twitter

You can find me on <a href="">Twitter</a>, of course. I'm <code><a href="http://twitter.com/#!/marekgoldmann">@marekgoldmann</a></code>.

%h3 IRC

%p I'm <code>mgoldmann</code> on <a href="http://freenode.net/">irc.freenode.net</a>. You can find me i.a. on the following channels:

%ul
  %li <a href="irc://irc.freenode.net/fedora-java">#fedora-java</a>
  %li <a href="irc://irc.freenode.net/fedora-cloud">#fedora-cloud</a>
  %li <a href="irc://irc.freenode.net/torquebox">#torquebox</a>

Remember that I'm in <a href="http://www.timeanddate.com/library/abbreviations/timezones/eu/cest.html">CEST</a> timezone.

%h3 IM

I'm not very often on IM's these days, but I have a <a href="http://en.wikipedia.org/wiki/Extensible_Messaging_and_Presence_Protocol">Jabber/XMPP account</a>: <code>my_last_name@jid.pl</code>.

%h3 Email

You can send me an email to <code>marek@my_last_name.pl</code>.
