---
layout: base
---

%h2 Technically

%p I'm a Software Engineer, mostly.

%h3 Work

%p Currently I work for <a href="http://www.redhat.com/">Red Hat</a>. I'm there some kind of a <em>plumber</em> working in different areas including Cloud, Virtualization, Operating systems (Fedora), RPMs, Middleware (JBoss AS/EAP) and Ruby. I'm part of <a href="http://projectodd.org/">project:odd</a>.

%p I'm <a href="http://boxgrinder.org/">BoxGrinder</a> project leader &ndash; a simple solution for creating virtual appliances for Cloud and many virtualization providers.

%h4 Career

%p You can also look at my <a href="http://linkedin.com/in/goldmann">LinkedIn profile</a>.

%h3 Other things

%p Some time ago I was pretty active in propagating open communication using <a href="http://en.wikipedia.org/wiki/Extensible_Messaging_and_Presence_Protocol">XMPP protocol</a>. I have my own public XMPP server &ndash; <a href="http://www.jid.pl/">jid.pl</a>.

%p I was a co-author of <a href="http://hapi.pl/">Hapi</a> &ndash; a polish easy to use XMPP client.
