html {
  margin:0;
  padding: 0;
}

.content {
  margin: 20px;
} 
.page-header {
  padding: 20px 0;
}
.main-content {
/*  border-left: 1px solid #eee;*/
  /*padding-left: 20px;*/
  overflow:hidden;
}
.menu>ul {
  list-style-type: none;
  margin:0;
  font-size: 1.5em;
  padding-bottom: 1em;
  border-bottom: 5px solid #eee;
}
.menu>ul>li {
  padding: 5px;
  text-transform: uppercase;
}
.banner {
  margin-bottom: 5px;
}
.banner>a>img {
  border-right: 10px solid #0069D6;
}

.banner>a:hover>img {
  border-right: 10px solid #aaaaaa;
}

body{ 
  margin: 0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  color: #444;
  background-image:url('/images/gradient.png');
  background-repeat:repeat-x;
  border-top: 20px solid #08c;
}
@media only screen and (max-width: 767px) {
  .main-content {
    font-size: 1.25em;
    line-height: 150%;
  }
}

.container {
  margin: 20px;
}

li {
  color: #444;
}

#left-column {
  float: left;
}

#right-column {
  float: left;
  margin-left: 10px;
}

#googleplus, #twitter {
  margin-top: 5px;
}

.pagination-links {
  margin: 10px 0;
  padding-top: 10px;
}

.comments {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  margin: 10px 0;
}

pre {
  white-space:pre;
  overflow:auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1, h2, h3 {
  line-height: 120%;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 16px;
}

p {
  margin: 0 0 8px
}

.admonitionblock {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.admonitionblock.note {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.admonitionblock>table td.icon {
/*  display: none;*/
  font-weight: bold;
  vertical-align: top;
  padding-right: 10px;
}
