html {
  margin:0;
  padding: 0;
}

.page-header {
  padding: 20px 0;
}


/* Bump the font size on small screens */
@media screen and (max-width: 768px) {
  p { font-size: 1.2em; }
}

@media screen and (min-width: 1350px) {
  .container { width: 1340px }
}

@media screen and (min-width: 992px) {
  #menu { width: 20% }
  #content { width: 80% }
}

.menu>ul {
  list-style-type: none;
  line-height: 1em;
  margin:0;
  padding: 1em 0;
  font-size: 1.5em;
  border-bottom: 5px solid #eee;
}
.menu>ul>li {
  padding: 5px;
  text-transform: uppercase;
}
.banner {
  margin-bottom: 5px;
}
.banner>a>img {
  border-right: 10px solid #0069D6;
}

.banner>a:hover>img {
  border-right: 10px solid #aaaaaa;
}

body{ 
  margin: 0;
  color: #444;
  background-image:url('/images/gradient.png');
  background-repeat:repeat-x;
  border-top: 20px solid #08c;
}
.container {
  margin-left: 0;
}

li {
  color: #444;
}

#googleplus, #twitter {
  margin-top: 5px;
}

.pagination-links {
  margin: 10px 0;
  padding-top: 10px;
}


.comments {
  padding: 5px 0;
  margin: 10px 0;
}


pre {
  white-space:pre;
  overflow:auto;
}

.admonitionblock {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.admonitionblock.note {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.admonitionblock>table td.icon {
/*  display: none;*/
  font-weight: bold;
  vertical-align: top;
  padding-right: 10px;
}
