!!! XML
!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title Marek Goldmann | #{page.title}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/bootstrap.min.css' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/bootstrap-responsive.min.css' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/colorbox.css' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/main.css' }
    %meta{ :name => 'keywords', :content => "goldmann, Marek, Marek Goldmann, software, open source, xmpp, music, electro, cloud computing, linux, jboss, red hat, docker"}
    %meta{ :name => "robots", :content => "all"}
    %meta{ :name => "revisit-after", :content => "7 days"}
    %meta{ :name => "description", :content => "Marek Goldmann. Blog about JBoss AS / WildFly, Fedora, Docker and my work at JBoss / Red Hat."}
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %script{ 'type' => "text/javascript", 'src' => "/js/jquery-1.7.2.min.js"}
    %script{ 'type' => "text/javascript", 'src' => "/js/bootstrap.min.js"}
    %script{ 'type' => "text/javascript", 'src' => "/js/jquery.colorbox-min.js"}

    ~ google_analytics
  %body
    .container
      .row
        .span3
          .menu
            %ul
              %li{:style => "margin-bottom: 1em;"} <a href="/blog/">Blog</a>
              %li Me
              %li <a href="/technically/">Technically</a>
              %li <a href="/musically/">Musically</a>
              %li <a href="/socially/">Socially</a>
        .span9
          .main-content
            ~ content

